.margin-bottom{
		margin-bottom: 20px;
}

 .col-sm-3{
	margin-bottom:10px;
}

 .col-sm-2{
	margin-bottom:20px;
}


.performance{
	font-size: 2em;
	color: #ffc107;
	font-weight: bold;
}

img{
	width: 100%;
	cursor: pointer;
}

.enjeu-active{
	border: 5px solid #ffd54f;
	color: #ffd54f;
	border-radius: 10px;
}

.sat-active{
	border: 8px solid #ffd54f ;
	
	border-radius: 10px;
	img{
		width: 120%
	}
}

.phrase-active{
	color: #ffd54f;
	font-weight: bold;
}

.card{
    	border-radius: 15px;
 }

 .btn{
		border-radius: 25px;
		width: 50%;
	}
.btn-link{
	color: #ffd54f !important;
	text-decoration: none;
}

.list-phrase{
	cursor: pointer;
}

.side{
	max-height: 700px !important;

	overflow: scroll !important;
}

.small-text{
	font-size: 0.9em;
}

.card{
	    margin-bottom: 10px !important;
}

.hide{
	display: none;
}

.bg-secondary{
	display: none !important;
}