<!-- <div *ngIf="!loading">
	<h1> CSV3 PHRASE </h1>
	<hr>
	
</div> -->

<div class="row">
	<div class="col-md-2 side">
<!-- 		<ul class="list-group">

		  <li class="list-group-item" *ngFor="let csv of csvPhrases">{{ csv.nom }}</li>
		
		</ul> -->
		<ngb-accordion *ngIf="curCsv != undefined && curPhrase != undefined" #acc="ngbAccordion" activeIds="{{ csvPhrases[curCsv].nom }}" (panelChange)="beforeChange($event)">

		  <ngb-panel type="{{ csv.valid ? 'secondary' : ''}} " *ngFor="let csv of csvPhrases; index as j" style='color: red'  id="{{ csv.nom }}" title="{{ csv.nom }}">
		    <ng-template ngbPanelContent>
		     	<table class="table">
		
		     		<tr  class="{{ (i == curPhrase) ? 'phrase-active' : '' }} {{ phrase.valid ? 'hide' : ''}}" *ngFor="let phrase of csv.phrases; index as i"> <td class="list-phrase" (click)="setPhrase(j, i)">{{ phrase.num }} <i class="fa fa-check" aria-hidden="true" *ngIf="phrase.valid"></i></td>
					</tr>
		
				</table>
		    </ng-template>
		  </ngb-panel>
		 

		</ngb-accordion>

	</div>

	<div class="col-md-10 margin-bottom"  *ngIf="!loading">
		<div class="col-md-12">
			<div class="card">
				  <div class="card-body">
		<!-- 		    <h5 class="card-title">Phrase </h5> -->
				   
				    <div class="card-text">
				    	
				    	<h5>
				    		<u>Phrase FR</u> :
				    		<b>{{ csvPhrases[curCsv].phrases[curPhrase].phrase_fr }}</b>
				    	</h5>

				    	<hr>

			
				    	<h5>
				    		<u>Phrase EN</u> :
				    		<b>{{ csvPhrases[curCsv].phrases[curPhrase].phrase_en }}</b>
				    	</h5>

				    		

					</div>
				
				  </div>
				</div>
		</div>
		<!-- <hr> -->
		<div class='col-md-12 row'>
			<div class="col-md-8">
				
				<div class="card">
				  <div class="card-body">

				  
				    <div class="card-text row small-text">

				    	<div class="col-sm-3">
				    		<b>Num : </b>{{ csvPhrases[curCsv].phrases[curPhrase].num }}
				    	</div>
				    	<div class="col-sm-3">
				    		<b>Auteur : </b>{{ csvPhrases[curCsv].phrases[curPhrase].auteur }}
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Date : </b>{{ csvPhrases[curCsv].phrases[curPhrase].date }}
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Pays : </b>{{ csvPhrases[curCsv].pays }}
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Coordonnées GPS : </b>({{ csvPhrases[curCsv].lat }}, {{ csvPhrases[curCsv].long }})
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Titre FR : </b>{{ csvPhrases[curCsv].titre_fr }}
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Titre EN : </b>{{ csvPhrases[curCsv].titre_en }}
				    	</div>

				    

				    		

					</div>
				
				  </div>
				</div>


			</div>

			<div class="col-md-4">
				<div class="card">
				  <div class="card-body">

				   	

				    <div class="card-text">
				    	
				    	<p class=' text-center'>
				    		<b>Performance</b><span class="performance"> {{ perf }}%</span>
				    	</p>

				    	<button class="btn btn-warning" (click)="getMaxPerf()">MAXIMUM</button>

					</div>
				
				  </div>
				</div>
			</div>
		</div>

		
		<div class='col-md-12 row'>
			<div class="col-md-12">
				
				<div class="card">
				  <div class="card-body">

				   	<p class="card-title">Enjeux </p>

				    <div class="card-text row">
				    	<div style="text-align: center;" class="col-sm-1 {{ (csvPhrases[curCsv].phrases[curPhrase].enjeu == 'none') ? 'enjeu-active' : '' }}"  (click)="setEnjeu('none')">
							<i class="fa fa-times fa-2x"></i>
						</div>

				    	<div class="col-sm-1 {{ (csvPhrases[curCsv].phrases[curPhrase].enjeu == enjeu.key) ? 'enjeu-active' : '' }}" *ngFor="let enjeu of enjeux" (click)="setEnjeu(enjeu)">
							<img src="{{ enjeu.image_url }}" alt="{{ enjeu.picto_png }}" class="img-fluid.">
						</div>
				    

				    		

					</div>
				
				  </div>
				</div>


			</div>

		
		</div>

		
		<div class='col-md-12 row'>
			<div class="col-md-12">
				
				<div class="card">
				  <div class="card-body container">

				   	<!-- <p class="card-title">Satisfaction </p> -->

				    <div class="card-text row  justify-content-center">
				    	<div style="text-align: center;" class="col-sm-1 {{ (csvPhrases[curCsv].phrases[curPhrase].satisfaction == 'none'  ) ? 'sat-active' : '' }}" (click)="setSatisfaction('none')">
				    		<i class="fa fa-times fa-2x" style="margin-top: 20%;"></i>
				    	</div>
				    	<div class="col-sm-1 {{ (csvPhrases[curCsv].phrases[curPhrase].satisfaction == i) ? 'sat-active' : '' }}" (click)="setSatisfaction(i)" *ngFor="let i of [1,2,3,4]">
				    		<img src="assets/images/emoji_{{ i }}.jpg" alt="1" class="img-fluid">
				    	</div>
				    	

					</div>
				
				  </div>
				</div>


			</div>

		
		</div>
		<hr>
		<div class="row margin-bottom">
			<!-- <div class="col-sm-6 text-right">
				<button class="btn btn-secondary btn-lg" (click)="previous()"><i class="fa fa-arrow-left"></i> PRECEDENT</button>
			</div> -->

			<!-- <div class="col-sm-12 text-center">
				<button class="btn btn-warning btn-lg" [disabled]="csvPhrases[curCsv].phrases[curPhrase].satisfaction == 0" (click)="next()">ENREGISTRER <i class="fa fa-arrow-right"></i> </button>
				
			</div> -->
	</div>
		
	</div>

</div>

<div class="loading" *ngIf="loading">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
<style type="text/css">
    .bg-secondary  {
	    display: none !important;
	}
</style>