<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>AmplifyNature Admin</h1>
            <div role="form">
                <div class="form-content">
                    <p style="color: red;">
                        {{ error }}
                    </p>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="email" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a> -->
            </div>
        </div>
    </div>
</div>
