/* You can add global styles to this file, and also import other style files */

// $link-color: #ffd54f;

@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.btn-link{
	color: #b0bec5;
	text-decoration: none;
}


