<!-- <div *ngIf="!loading">
	<h1> CSV2 ENJEU </h1>
	<hr>
	
</div> -->

<div class="row">
	

	<div class="col-md-12 margin-bottom"  *ngIf="!loading">
		<div class="col-md-12 row">

			

			<div class="col-md-12">
				<div class="card">
				  <div class="card-body">
				  		<div class="row">
				    		<div class="col-sm-2">
				    			<img style="height: 70px" src="{{ enjeu.image_url }}" alt="{{ enjeu.picto_png }}" class="img-thumbnail img-fluid">
				    		</div>
				    		<div class="col-sm-10">
				    			<h4>{{ fr(enjeu.titre) }}</h4>
				  				<h4>{{ en(enjeu.titre) }}</h4>
				    		</div>
				    	</div>
				    	
				  		
				  </div>
				</div>
				
			</div>
			<div class="col-md-12">
				<div class="card">
				  <div class="card-body">
				    			<h5>{{ fr(enjeu.pre_def) }}</h5>
				  				<h5>{{ en(enjeu.pre_def) }}</h5>
				  </div>
				</div>
				
			</div>

			<div class="col-md-6">
				<div class="card">
				  <div class="card-body">
				    			<p>{{ fr(enjeu.def) }}</p>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
				  <div class="card-body">
				    			<p>{{ en(enjeu.def) }}</p>
				  </div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">
				  	<div class="card-body">	
						<div class="row">
				    		
				    			<div class="col-sm-1 small" *ngFor="let mot of enjeu.mots.fr">
				    				{{ mot.mot }}
				    			</div>
				    

				    	</div>
				    	<hr>
				    	<div class="row">
				    		

				    			<div class="col-sm-1 small" *ngFor="let mot of enjeu.mots.en">
				    				{{ mot.mot }}
				    			</div>


				    	</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">
				  	<div class="card-body">	
				  		<div class="row justify-content-center align-self-center">
				    		<div class="col-sm-2 middle" *ngFor="let enj of enjeux">
				    			<span (click)="setEnjeu(enj)" class="badge badge-{{ (enj.key == enjeu.key) ? 'warning' : 'secondary' }}"> 
				    			{{ fr(enj.titre) }}</span>
				    			
				    		</div>
				    	</div>

				  	</div>
				 </div>
			</div>


		</div>
		<!-- <hr> -->
		

		
		

		
	

		
		
	</div>

</div>

<div class="loading" *ngIf="loading">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
<style type="text/css">
    .bg-secondary  {
	    display: none !important;
	}
</style>