.badge{
	padding: 10px;

	margin: 5px;
	cursor: pointer;
	width: 100%;
	border-radius: 20px;
}

.badge-warning{
	// text-decoration: underline;
	font-weight: bold !important;
	// font-size: 1.2em;
}

.middle{
	margin: auto;
	padding: 0 10px 5px 0;
}

.small{
	font-size: 0.8em;
	padding: 0px;
	text-align: center;
}

.card{
    	border-radius: 15px;
    	 margin-bottom: 10px !important;
 }

